* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header related style */
header{
    background-color: pink;
}
nav{
    /* border: 2px solid blue; */
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}
.nav-awesome{
    display: flex;
    /* border: 2px solid gray; */
    width: 50%;
    align-items: center;
}
.nav-awesome img{
    width: 90px;
}
.nav-encore{
    width: 50%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-encore a{
    text-decoration: none;
    color: green;
}
.nav-encore button{
    background-color: orange;
    padding: 5px 10px;
}
h2, a{
    font-size: 25px;
}